
<div class="container">

<div id="new" class="tab-pane fade-in <%=@nosession%>">

    <%= simple_form_for @session, :url => sessions_path, :method => :post, :action => :create  do |f| %>
      <div class="form-group">
      <%= f.error_notification :input_html => { class: 'alert-danger'}%>
      <%= f.input :name, label: 'Subject', error: 'Please provide a Title', input_html:{class:'form-control'} %><br>
      <% ##concat datetime or use default %>
      <%= f.input :time, label: 'When?', :as => :date, :input_html => {class: 'form-control'}, error: 'Please provide a date' %><br>
      <%= f.input :details, label: 'Details (example: Quaterly Shareholder Meeting)', input_html:{class:'form-control'} %><br>
      <%= f.input :invite, label: 'Invite:', input_html:{class:'form-control disabled'} %><br>
      </div>
      <%= f.button :submit, input_html:{ class:'btn btn-success'} %>
    <% end %>
</div>

</div>
